 body {
    width: 80%;
    margin: 0 auto;
    background-color: #f2f2f2;
    color: #333;
}

.title-div {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    border-radius: 15px;
}

.input_cryptocurrency {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dropdown-select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    width: 100%;
    margin-right: 20px;
    border-radius: 15px;

}

.input-days {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 15px;
}

.request-btn {
    padding: 8px 20px;
    font-size: 16px;
    border-radius: 15px;
}
#my-chart-with-exog, #my-chart-without-exog{
    margin-left: 25%;
    margin-top: 5%;
}

/*
Spinner Loading
 */

 .lds-roller {
     margin-top: 5em;
     margin-left: 40%;
     margin-right: 50% ;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #030101;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/*
Toggle button
 */
.toggle {
--width: 130px;
--height: calc(var(--width) / 3);

position: relative;
display: inline-block;
width: var(--width);
height: var(--height);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
border-radius: var(--height);
cursor: pointer;
}

.toggle input {
display: none;
}

.toggle .slider {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
border-radius: var(--height);
background-color: #ccc;
transition: all 0.4s ease-in-out;
}

.toggle .slider::before {
content: '';
position: absolute;
top: 0;
left: 0;
width: calc(var(--height));
height: calc(var(--height));
border-radius: calc(var(--height) / 2);
background-color: #fff;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
transition: all 0.4s ease-in-out;
}

.toggle input:checked+.slider {
background-color: #2196F3;
}

.toggle input:checked+.slider::before {
transform: translateX(calc(var(--width) - var(--height)));
}

.toggle .labels {
position: absolute;
top: 8px;
left: 0;
width: 100%;
height: 100%;
font-size: 12px;
font-family: sans-serif;
transition: all 0.4s ease-in-out;
}

.toggle .labels::after {
content: attr(data-off);
position: absolute;
right: 5px;
color: #4d4d4d;
opacity: 1;
text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
transition: all 0.4s ease-in-out;
}

.toggle .labels::before {
content: attr(data-on);
position: absolute;
left: 5px;
color: #ffffff;
opacity: 0;
text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
transition: all 0.4s ease-in-out;
}

.toggle input:checked~.labels::after {
opacity: 0;
}

.toggle input:checked~.labels::before {
opacity: 1;
}